.git
.github
.claude

**/node_modules
frontend/.next
frontend/out
frontend/*.tsbuildinfo

backend/.venv
backend/data
backend/.pytest_cache
backend/tests/test.db
**/__pycache__
**/*.pyc

.env
*.md
LICENSE
templates/LICENSE.txt
